<div id="chore-tile-<%= chore.id %>" class="chore-tile card">
    <div class="card-body col-12">
      <h5 class="card-title"> <%= chore.name %> (<%= chore.room.name %>)</h5>
      <p class="card-text">
        <div class="btn-group" role="group" aria-label="Basic example">
            <%= link_to "Mark Complete", edit_chore_path(chore.id, chore: { last_performed: Date.today }), { remote:true, class: "btn btn-secondary" } %>
            <%= link_to "Dismiss", dismiss_chore_path(chore.id), { remote: true, class:"btn btn-secondary" } %>
        </div>
      </p>
    </div>
</div>
