<div id= "chore-tile-<%= chore.id %>" class="row chore-tile">
  <div class="col-6 ">
    <span><%= chore.name %></span>
  </div>
  <div class="col-2">
    <span><%= chore.last_performed.strftime("%_m/%_d/%Y") %></span>
  </div>
  <div class="col-3 btn-group" role="group">
    <%= link_to glyph(:ok), edit_chore_path(chore.id, chore: { last_performed: Date.today }), { remote:true, class: "btn btn-secondary btn-xs" } %>
    <%= link_to glyph(:remove), dismiss_chore_path(chore.id), { remote: true, class:"btn btn-secondary btn-xs" } %>
    <%= link_to glyph(:pencil), chore_meta_path(chore.id), class: 'btn btn-secondary btn-xs' %>
  </div>
</div>
